@import './base.css';

#app {
  width: 100vw;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--color-background-soft)
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-red-light);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #b83a4b73
  }
}

main {
  margin: 20px 30px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}
h3 {
  margin-top: -10px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  h1 {
    text-align: center;
  }
  main {
    margin: 20px 10px;
  }
}