@import './base.css';

#app {
  width: 100vw;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--color-background-soft)
}

a {
  text-decoration: none;
  color: var(--vt-c-purple-light);
  transition: 0.4s;
}

@media (hover: hover) {
  nav a:hover {
    background-color: #b83a4b73
  }
}

main {
  margin: 20px 30px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}
h3 {
  margin-top: -10px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  h1 {
    text-align: center;
  }
  main {
    margin: 20px 10px;
  }
}

nav {
  font-size: 14px;
  text-align: center;
  flex-shrink: 0;
}

nav a.router-link-exact-active {
  color: var(--vt-c-white-mute);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--vt-c-red-light);
  color: var(--vt-c-red-light);
}

nav a:first-of-type {
  border: 0;
}