@import './base.css';

#app {
  width: 100vw;
  margin: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgba(120, 103, 199, 0.8);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(120, 103, 199, 0.2);
  }
}

main {
  margin: 20px 30px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}
h3 {
  margin-top: -10px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  h1 {
    text-align: center;
  }
}